### OSX ###
*.DS_Store
.AppleDouble
.LSOverride

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints
