Aaron Bahde <aaron.bahde@student.uni-tuebingen.de>
Felix Dangel <felix.dangel@tuebingen.mpg.de>
Frank Schneider <frank.schneider@tuebingen.mpg.de> --global <frank.schneider@tuebingen.mpg.de> 
Frank Schneider <frank.schneider@tuebingen.mpg.de> Frank <frank.stefan.schneider@gmail.com>
Frank Schneider <frank.schneider@tuebingen.mpg.de> <frank.stefan.schneider@gmail.com>
Frank Schneider <frank.schneider@tuebingen.mpg.de> <fschneider@ruwer.is.localnet>
Frank Schneider <frank.schneider@tuebingen.mpg.de> anonymousICLR2019submitter <43520016+anonymousICLR2019submitter@users.noreply.github.com>
Frank Schneider <frank.schneider@tuebingen.mpg.de> Anonymous ICLR 2019 Submitter <anonymousICLR2019submitter@gmail.com>
